body {
  background: #f7f7f7;
}

header {
  background-color: #921988;
  background-repeat: no-repeat;
  color: #f9e5af;
  font-family: Georgia, Palatino, serif;
  font-size: 50px;
  height: 60px;
  padding: 10px;
}

section {
  background: #FFFFFF;
  max-width: 700px;
  padding: 5px;
}

article {
  border-style: solid;
  border-width: 5px;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}

p {
    font-family: arial,sans-serif;
}


h1 {
  font-size: 24px;
  font-family: arial,sans-serif;
  color: rgb(147, 26, 42);
  text-align: center;
}

h2 {
  font-size: 20px;
  font-family: arial,sans-serif;
  color: rgb(147, 26, 42);
}

.webdev {
  font-weight: bolder;
}

nav ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #333;
  font-family: calibri,sans-serif;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}


nav li a:hover {
  background-color: #515050;
}

#firstparagraph{
  color: #1E32DF
}