body {
    background: #98C5DB;
    font-size: 20px;
    font-family: arial, sans-serif;
}

header {
  background-color: #0C1824;
  background-repeat: no-repeat;
  color: #98C5DB;
  font-family: Georgia, Palatino, serif;
  font-size: 30px;
  height: 50px;
  padding: 20px;
}

    nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
      font-family: arial,sans-serif;
}
    nav li {
        float: left;
}
    nav li a {
      display: block;
      color: white;
      padding: 14px 16px;
      text-decoration: none;
}
    nav li a:hover {
        background-color: #111;
}

p{
    font-family: arial, sans-serif;
    padding: 8px;
}

h1{
    font-size: 24px;
    font-family: arial, sans-serif;
    text-align: center;
    color: rbg(147, 26, 42);
}

table, th, td {
  margin-left: auto;
  margin-right: auto;
  border: 3px solid;
  border-collapse: collapse;
}

#contact {
  font-style: italic;
}

.back {
  background-color : white;
}